.input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 5px;

  svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-left: 5px;
  }
  input {
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    font-size: 1em;
    padding-left: 5px;
  }
}
